html {
    background: url('../res/img/stream.JPG') no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

body {
    padding-top: 55px;
    background: transparent;
    padding-bottom: 20px;
}

p {
    font-size: 15px;
}


/* Custom Font Inclusions */
@font-face { font-family: handrawn;
            src: url('../res/fonts/AmaticSC-Regular.ttf'); }
@font-face { font-family: arch;
            src: url('../res/fonts/Archistico_Simple.ttf'); }

.foreground {
    background-color: rgb(255, 255, 249);
    opacity: 0.92;
    width: 1000px;
    max-width: 92%;
    border-radius: 4px;
}


/* Navbar */
.navbar-default {
    background-color: rgb(255, 255, 249);
    opacity: 0.98;
    border: transparent;
}

.navbar-brand {
    font-family: handrawn, Arial, Sans-serif;
    font-size: 30px;
}

/* Page defaults */
.page {
    padding-top: 20px;
    padding-bottom: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    /*height: 610px;*/

    border-bottom: solid 1px;
    border-color: rgba(119,119, 119, 0.4);
}

.page-title {
    font-size: 75px;
    font-family: handrawn;
}

.kickstarter-title {
	font-size: 60px;
	text-align: center;
  font-family: handrawn;
}

.kickstarter {
	font-size: 25px;
	text-align: center;
}

/* Home page*/
.home-title {
    text-align: center;
    font-size: 95px;
    font-family: handrawn;
    font-weight: 
}

.home-images {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    max-width: 95%;
    margin: 0 auto;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
}

.center {
		text-align: center;
}

/*.carousel img {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*min-width: 100%;*/
    /*height: 500px;*/
    /*max-width: none;*/
/*}*/

/* Contact */
.bus-card {
    width: 500px;
    max-width: 95%;
    opacity: 0.99;
    margin: 0 auto;
    border: solid 1px;
    border-color: rgba(119,119, 119, 0.4);
}

.bus-card-image {
    background: white;
}

.social {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(119,119, 119);
}

/*.social .icons {*/
    /*font-size: 70px;*/
/*}*/

/* Footer */
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    text-align: center;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.videos {
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: solid 1px;*/
    /*border-color: rgba(119,119, 119, 0.4);*/

}


.show-notes {
    font-size: smaller;
}