html {
    background: url('../res/img/stream.jpg') no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

body {
    padding-top: 55px;
    background: transparent;
}

/* Custom Font Inclusions */
@font-face { font-family: handrawn;
            src: url('../res/fonts/AmaticSC-Regular.ttf'); }
@font-face { font-family: arch;
            src: url('../res/fonts/Archistico_Simple.ttf'); }

.foreground {
    background-color: rgb(255, 255, 249);
    opacity: 0.90;
    width: 1050px;
    max-width: 95%;
    border-radius: 4px;
}


/* Navbar */
.navbar-default {
    background-color: rgb(255, 255, 249);
    opacity: 0.90;
    border: transparent;
}

.navbar-brand {
    font-family: handrawn;
    font-size: 30px;
}

/* Page defaults */
.page {
    padding-top: 20px;
    padding-bottom: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    border-bottom: solid 1px;
    border-color: rgba(119,119, 119, 0.4);
}

.page-title {
    font-size: 75px;
    font-family: handrawn;
}



/* Home page*/
.home-title {
    text-align: center;
    font-size: 75px;
    font-family: handrawn;
}

.home-images {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    max-width: 95%;
    margin: 0 auto;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
}

/* Contact */
.bus-card {
    width: 500px;
    max-width: 95%;
    opacity: 0.99;
    margin: 0 auto;
    border: solid 1px;
    border-color: rgba(119,119, 119, 0.4);
}

.bus-card-image {
    background: white;
}

.social {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social .icons {
    font-size: 40px;
}

/* Footer */
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    text-align: center;
}