

  <nav class="navbar navbar-default navbar-fixed-top">

      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">// Link </a>
          </li>

          <li>
            <a href="#">// Link </a>
          </li>

          <li>
            <a href="#">// Link </a>
          </li>

          <li>
            <a href="#">// Link </a>
          </li>

        </ul>

      </div>
  </nav>
